<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSUserNotificationsUsageDescription</key>
    <string>Permitir enviar notificaciones</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Permitir usar su ubicación mientras está en uso</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Permitir usar su ubicación siempre</string>
    <key>NSLocationUsageDescription</key>
    <string>Permitir usar su ubicación</string>
    <key>NSCameraUsageDescription</key>
    <string>Permite usar la cámara</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Post</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
